@import '_variables';
@import 'mixins/_mixins';
@import '_icons';
@import '_fonts';
@import 'components/_components';

html,
body {
  background-color: $color-bg;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif !important;
  font-size: 16px;
  color: #72777a;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
}
